
body {

}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
pre {
  border: 1px solid rgba(0, 0, 0, 0.32);
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap; 
}

.comment ul {
  list-style: outside none none;
}
.row .row {
	max-width: $row-width;
}
.animated, .animation-parent {
	overflow: hidden;
}

.collapse[class*="block-grid-"] > li {
  padding: 0;
}
.wd-vertical-aligned {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.row-delimiter {
  width: 1px;
  position: absolute;
  bottom: 0px;
  transform: translateY(100%) translateX(900px);
}